{% extends "base.html" %}
{% block search %}
<div class="card rounded-0">
    <h4 class="card-header text-center">
        Search
    </h4>
    <div class="card-body rounded-0">
        <form action="./{{ db_table }}/results">
            <div class="row">
                <div class="col">
                    <h5 class="text-center pb-2">
                        Source
                    </h5>
                </div>
                <div class="col border border-top-0 border-right-0 border-bottom-0">
                    <h5 class="text-center pb-2">
                        Source
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group rounded-0 pb-3">
                        <span class="input-group-addon rounded-0">Author</span>
                        <input type="text" class="form-control" name="source_author" value="{{ form_args.source_author }}">
                    </div>
                    <div class="input-group rounded-0 pb-3">
                        <span class="input-group-addon rounded-0">Title</span>
                        <input type="text" class="form-control" name="source_title" value="{{ form_args.source_title }}">
                    </div>
                    <div class="input-group rounded-0 pb-3">
                        <span class="input-group-addon rounded-0">Year</span>
                        <input type="text" class="form-control" name="source_year" value="{{ form_args.source_year }}">
                    </div>
                </div>
                <div class="col border border-top-0 border-right-0 border-bottom-0">
                    <div class="input-group pb-3">
                        <span class="input-group-addon rounded-0">Author</span>
                        <input type="text" class="form-control" name="target_author" value="{{ form_args.target_author }}">
                    </div>
                    <div class="input-group pb-3">
                        <span class="input-group-addon rounded-0">Title</span>
                        <input type="text" class="form-control" name="target_title" value="{{ form_args.target_title }}">
                    </div>
                    <div class="input-group rounded-0 pb-3">
                        <span class="input-group-addon rounded-0">Year</span>
                        <input type="text" class="form-control" name="target_year" value="{{ form_args.target_year }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary rounded-0" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% block results %}{% endblock %}
{% endblock %}