{% extends "base.html" %}
{% block search %}
<div class="ui raised segment" style="margin: 15px;">
    <h1 class="ui centered header">
        Search
    </h1>
    <div class="ui container">
        <form class="ui form" action="./{{ db_table }}/results">
            <div class="ui two column divided grid">
                <div class="row">
                    <div class="column">
                        <h3 class="ui centered header">
                            Source
                        </h3>
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    Author:
                                </div>
                                <input type="text" name="source_author" value="{{ form_args.source_author }}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    Title:
                                </div>
                                <input type="text" name="source_title" value="{{ form_args.source_title }}">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <h3 class="ui centered header">
                            Target
                        </h3>
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    Author:
                                </div>
                                <input type="text" name="target_author" value="{{ form_args.target_author }}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    Title:
                                </div>
                                <input type="text" name="target_title" value="{{ form_args.target_title }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <button class="ui button" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% block results %}{% endblock %}
{% endblock %}